.ipynb_checkpoints/
3-1.Linejnye_modeli_statisticheskij_vzgljad-Slides.pdf
4-2.Kompozicii-derev_ev-Slides.pdf
4-2.Sluchajnye_lesa.pdf
C2W2_sklearn.cross_validation.ipynb
C2W2_sklearn.datasets.ipynb
C2W2_sklearn.linear_model_part1.ipynb
C2W2_sklearn.linear_model_part2.ipynb
C2W2_sklearn.metrics.ipynb
Konspekt.-3-1.Linejnye_modeli_statisticheskij_vzglyad.pdf
Preprocessing_LR_Coursera_tr.ipynb
c2w4_bagging_RF.ipynb
cross_check/
data/
sample_distribution_evaluation.ipynb
sklearn.rf_vs_gb.ipynb
txt_answers/
